Repository kodingdotninja/chakra-icons, pull requests merged in 2022-02, with the labels that each got.

#34 chore(chakra-icons/cli): add stubbing file for fix issue #33
  tooling/cli/dist/index.bin.js
Labels: bug

#24 feat(bootstrap): create @chakra-icons/bootstrap
  README.md
  packages/@chakra-icons/bootstrap/.releaserc.js
  packages/@chakra-icons/bootstrap/README.md
  packages/@chakra-icons/bootstrap/package.json
  packages/@chakra-icons/bootstrap/snapshot.json
  packages/@chakra-icons/bootstrap/src/.git-keep
  packages/@chakra-icons/bootstrap/tsconfig.json
  packages/@chakra-icons/bootstrap/tsup.config.ts
  yarn.lock
Labels: bug, enhancement, help wanted

#47 feat(chakra-icons/octicons): create chakra-icons/octicons
  README.md
  packages/@chakra-icons/octicons/.releaserc.js
  packages/@chakra-icons/octicons/README.md
  packages/@chakra-icons/octicons/package.json
  packages/@chakra-icons/octicons/src/.git-keep
  packages/@chakra-icons/octicons/tsconfig.json
  packages/@chakra-icons/octicons/tsup.config.ts
Labels: new icons

#49 feat(chakra-icons/tabler-icons): create chakra-icons/tabler-icons
  README.md
  packages/@chakra-icons/tabler-icons/.releaserc.js
  packages/@chakra-icons/tabler-icons/README.md
  packages/@chakra-icons/tabler-icons/package.json
  packages/@chakra-icons/tabler-icons/src/.git-keep
  packages/@chakra-icons/tabler-icons/tsconfig.json
  packages/@chakra-icons/tabler-icons/tsup.config.ts
Labels: new icons

#53 feat(chakra-icons/feather): create chakra-icons/feather
  README.md
  packages/@chakra-icons/feather/.releaserc.js
  packages/@chakra-icons/feather/README.md
  packages/@chakra-icons/feather/package.json
  packages/@chakra-icons/feather/snapshot.json
  packages/@chakra-icons/feather/src/.git-keep
  packages/@chakra-icons/feather/tsconfig.json
  packages/@chakra-icons/feather/tsup.config.ts
Labels: new icons

#64 feat(simple-line-icons): add new icons
  .gitignore
  README.md
  packages/@chakra-icons/simple-line-icons/.releaserc.js
  packages/@chakra-icons/simple-line-icons/README.md
  packages/@chakra-icons/simple-line-icons/package.json
  packages/@chakra-icons/simple-line-icons/snapshot.json
  packages/@chakra-icons/simple-line-icons/src/.git-keep
  packages/@chakra-icons/simple-line-icons/tsconfig.json
  packages/@chakra-icons/simple-line-icons/tsup.config.ts
Labels: new icons
